
body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.logo h3{
	color:white;
}
.logo h3 span{
	color:grey;
}
header{
	background-color:black;
	color:white;
}
header nav{
	padding: 20px;
	justify-content: space-between;
	display: flex;
}
.nav-link ul{
	display: flex;
	list-style-type: none;
}
.nav-link ul li{
	display: flex;
	padding: 5px 25px;
}

.nav-link ul li:hover{
	background-color: white;
	color: black;
	transition: 1s ease all;
}

.banner{
	background-color:whitesmoke;
	color:black;
	height: inherit;
	padding:20px;
}
.banner .text{
	margin: 20px;
}
.banner .text p{
	color:red;
	text-align: center;
}
.banner .text h2{
	margin-top: 100px;
	text-align: center;
}
.image img{
	padding:10px;
	width: 500px;
	border-radius: 20px;
}
.card{
	padding: 20px;
}
.card .card-content{
	background-color: grey;
	padding: 30px;
	border-radius: 20px;
	color:white;
}
.card-content h4{
	text-align: center;
}
.card-content p{
	text-align: center;
}
.initials img{
	width: 100%;
	border-radius: 20px;	
}
.learn-more{
	padding: 20px;
}
.learn-more button{
	padding: 5px 25px;
}
footer{
	background-color: black;
	color:white;
	padding: 30px;
}
footer p{
	text-align: center;
}
.reg form{
	padding: 50px;
}